html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

.nav-container {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    height: 50px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    padding-right: 10px;
}

.splash {
    height: 700px;
    width: 2000px;
    background: url('./images/img-mission-background.jpeg');
    display: flex;
    margin: 0 auto;
    position: relative;
} 

.OurMission{
    position: fixed;
    bottom: 300px;
    top: 300px;
    right: 0px;
    left: 0px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.month{
    text-align: center;
}